#pane {
	-fx-background-image: url("backgroun.jpg") no-repeat center center fixed;
	-fx-background-size: cover;
  	-fx-height: 100%;
  	-fx-overflow: hidden;
	
}

.label {
	
}


.text-field {
 	-fx-text-box-border: black ;
 	-fx-focus-color: black ;
}

.text-field.error {
 	-fx-text-box-border: red ;
 	-fx-focus-color: red ;
}
