
 /*styling the different charts*/
 
 /*all charts*/
.chart {
    -fx-padding: 20px;
    -fx-background-color: transparent;
}
.chart-content {
    -fx-padding: 20px; /*distance between the pie-text */
}

/*the text below the pie chart*/
.chart-legend {
   -fx-background-color:  transparent;
   -fx-padding: 20px;
}
 
.chart-legend-item{
    -fx-text-fill: #d7cccc;
}

 .chart-title {
  -fx-text-fill: #d7cccc;
  -fx-font-size: 30px;
  -fx-font-size: 1.6em;
}

/*HEALTH TAB*/
.hoverForInfo {
	-fx-text-fill: #d7cccc;
	-fx-font-size: 15px;
}

/*for pie chart only */
.chart-pie-label-line {
    -fx-stroke: #d7cccc;
    -fx-fill: #d7cccc;
}

.chart-pie-label {
    -fx-fill: #d7cccc;
    -fx-font-size: 1em;
} 
.chart-legend {
   -fx-background-color:  transparent;
   -fx-stroke: #daa520;
}

/*ENDURANCE TAB */
.totalDistanceField {
	-fx-background-color:  transparent;
	-fx-text-fill: #bcff05;
	-fx-font-size: 45px;
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

.enduranceField {
	-fx-background-color:  transparent;
	-fx-text-fill: #bcff05;
	-fx-font-size: 20px;
	-fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.5) , 0, 0.0 , 0 , 1);
}

/*for the overview tab*/
/* .chart-title {
  -fx-text-fill: #4682b4;
  -fx-font-size: 1.6em;
}
.axis-label {
  -fx-text-fill: #4682b4;
}
.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-vertical-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #3278fa;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
*/
