#pane {
	-fx-background-image: url("../images/background.png") center center;
	-fx-background-repeat: no-repeat;
	 background-attachment: fixed;
	-fx-background-color: black;
	-fx-background-size: cover;
  	-fx-height: 100%;
  	-fx-overflow: hidden;
  	-fx-opacity: 0.9;
}

#h1 {
	-fx-font-size: 70px;
    -fx-text-fill: #ffffff;
    fx-letter-spacing: 5px; /* No effect */
}

#h2 {
	-fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-text-fill: #ffffff;
}

.button{
	-fx-background-color: darkgrey;
	-fx-padding: 4px 24px;
	-fx-font-size: 15px;  
	-fx-cursor: hand;
}

.button:hover {
	-fx-background-color: #606060;
	-fx-color: #383838; /* Button text becomes white... */
	/*-fx-effect: dropshadow( one-pass-box, black , 1px , 1px , 1px , 1px);*/
}
 
.text-field {
 	-fx-text-box-border: black ;
 	-fx-focus-color: black ;
}

.text-field.error {
 	-fx-text-box-border: red ;
 	-fx-focus-color: red ;
}

.date-picker{
	-fx-background-color: black ;
 	
}

.date-picker.error {
	-fx-background-color: red ;
}
